In [27]:
import numpy as np, pandas as pd
import wget, os

In [2]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv']

In [3]:
data_dir = 'data/'

if not os.path.isdir('data/'):
    os.mkdir('data/')

In [4]:
for u in urls:
    wget.download(url=u)

In [6]:
conf_df = pd.read_csv('time_series_19-covid-Confirmed.csv')
deaths_df = pd.read_csv('time_series_19-covid-Deaths.csv')
recv_df = pd.read_csv('time_series_19-covid-Recovered.csv')

In [7]:
conf_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,43,47,48,50,50,50,53,59,70,75
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,331,360,420,461,502,511,581,639,639,701
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,110,117,130,138,150,150,160,178,178,200
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,50,50,83,93,99,117,129,149,149,197

In [11]:
dates = conf_df.columns[4:]
ndays = len(dates)

In [17]:
dates[0]

'1/22/20'

In [18]:
date_dict = {}
count = 0

for d in dates:
    date_dict.update({d:count})
    count += 1

In [19]:
def remap_dates_to_n(map_dict: dict, date: str):
    return map_dict[date]

In [23]:
conf_df_long = conf_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Confirmed')

In [34]:
for i, r in conf_df_long.iterrows():
    conf_df_long.at[i, 'Date'] = remap_dates_to_n(map_dict=date_dict, date=r['Date'])

In [35]:
conf_df_long.head()

  Province/State Country/Region      Lat      Long Date  Confirmed
0            NaN       Thailand  15.0000  101.0000    0          2
1            NaN          Japan  36.0000  138.0000    0          2
2            NaN      Singapore   1.2833  103.8333    0          0
3            NaN          Nepal  28.1667   84.2500    0          0
4            NaN       Malaysia   2.5000  112.5000    0          0

In [1]:
forjoin = melted.groupby(['Country/Region','Date']).sum()

NameError: name 'melted' is not defined